<div class="cat-wrapper">
    <h2>Gestión de Categorías</h2>

    <!-- FORMULARIO NUEVA CATEGORÍA -->
    <div class="cat-form">
        <input placeholder="Nombre" [(ngModel)]="nuevaCategoria.nombre" />
        <input placeholder="Descripción" [(ngModel)]="nuevaCategoria.descripcion" />
        <button class="btn-agregar" (click)="guardarCategoria()">Agregar</button>
    </div>

    <!-- LISTA DE CATEGORÍAS -->
    <div class="cat-lista">
        <div class="cat-item" *ngFor="let c of categorias">

        <!-- VISTA NORMAL -->
        <div *ngIf="categoriaEditando !== c.id" class="cat-info">
            <strong>{{ c.nombre }}</strong>
            <small>{{ c.descripcion }}</small>
        </div>

        <!-- MODO EDICIÓN -->
        <div *ngIf="categoriaEditando === c.id" class="cat-edicion">
            <input [(ngModel)]="nombreEditado" placeholder="Nombre" />
            <input [(ngModel)]="descripcionEditada" placeholder="Descripción" />
        </div>

        <!-- ACCIONES -->
        <div class="cat-acciones">
            <button *ngIf="categoriaEditando !== c.id" (click)="editarCategoria(c)">Editar</button>
            <button *ngIf="categoriaEditando === c.id" (click)="guardarEdicion(c)">Guardar</button>
            <button *ngIf="categoriaEditando === c.id" (click)="cancelarEdicion()">Cancelar</button>
            <button (click)="alterarCategoria(c)" 
            [ngClass]="c.activo ? 'btn-desactivar' : 'btn-activar'">
            {{ c.activo ? "Desactivar" : "Activar" }}
            </button>
            <button class="btn-eliminar" (click)="eliminarCategoria(c.id!)">Eliminar</button>
        </div>

        </div>
    </div>
</div>
